main.svelte-10tbxa1{display:flex;flex-direction:column;align-items:center;justify-content:space-between;gap:var(--gap-large);min-height:calc(100vh - var(--page-margin) * 2)}nav.svelte-10tbxa1{position:fixed;top:1rem;left:1rem}
